<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <header role="banner">
    <nav>
      <ul role="navigation">
        <li><%= link_to "Home", '/static_pages/home' %></li>
        <li><%= link_to "About", '/static_pages/about' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </header>

  <div class="main_content">
    <main role="main">
      <%= yield %>
    </main>
  </div>
</body>
</html>
